@import url("viz.css");

:root {
    background-color:#e8e9ec;
    background:#e8e9ec;
    padding:30px;
}

.blue_section {
    background-color:#02198D;
    -webkit-text-fill-color:ghostwhite;
    border-radius: 20px;
    padding:30px;
}

.card {
    background-color:#ffffff;
    border-radius: 20px;
    -webkit-text-fill-color:#02198D;
    font-size: 24px;
}

.card:hover {
    background-color:#02198D;
    border-radius: 20px;
    -webkit-text-fill-color:#ffffff;
    font-size: 24px;
}


.header {
    background-color:#E8E9EC;
    -webkit-text-fill-color:#02198D;
}

.world_map {
    background-image: url("../../images/world_map.png");
    -webkit-text-fill-color:#FFFFFF;
}

.header h1{
    font-size: 64px;
}

.subheader {    
    -webkit-text-fill-color:#FFFFFF;
    font-size: 17px;
}

.footer {
    background-color: #B8BEDB;
    -webkit-text-fill-color:#02198D;
    
}





