# Required for fetching URLs with the Google JSON API
GOOGLE_API_KEY=CHANGE_ME
GOOGLE_CX=CHANGE_ME

# Required for table extraction with LLAMA PARSE API
LLAMA_CLOUD_API_KEY=CHANGE_ME

# Required for table extraction with UNSTRUCTURED.IO API
UNSTRUCTURED_API_KEY=CHANGE_ME

# Required for table cleaning via current "LLM" method
OPENAI_API_KEY=CHANGE_ME

# Required for LangChain tracing ("LangSmith")
LANGCHAIN_API_KEY=CHANGE_ME
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT="country-by-country"